.white{
    color: white;
}

.grid{
    display: grid;
}

.bold{
    font-weight: bold;
}

.upppercase{
    text-transform: uppercase;
}

.none{
    text-decoration: none;
}

.color-black{
    background-color: black;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-normal{
    font-weight: 600;
}